<div class="stats-bar">
    <div class="container">
      <div class="stats-bar__grid">
        <div class="stats-bar__item">
          <div class="stats-bar__number" id="stat1">0</div>
          <div class="stats-bar__label">Tournaments Hosted</div>
        </div>
        <div class="stats-bar__divider"></div>
        <div class="stats-bar__item">
          <div class="stats-bar__number" id="stat2">0</div>
          <div class="stats-bar__label">Reservations Made</div>
        </div>
        <div class="stats-bar__divider"></div>
        <div class="stats-bar__item">
          <div class="stats-bar__number" id="stat3">0</div>
          <div class="stats-bar__label">Happy Clients</div>
        </div>
      </div>
    </div>
  </div>
