 <footer class="footer">
    <div class="footer__logo">Galaxy Billiards Club</div>
    <ul class="footer__links">
      <li><a href="#home" class="footer__link">Home</a></li>
      <li><a href="#about" class="footer__link">About</a></li>
      <li><a href="menu.html" class="footer__link">Menu</a></li>
      <li><a href="#reserve" class="footer__link">Reserve</a></li>
      <li><a href="#contact" class="footer__link">Contact</a></li>
    </ul>
    
    <p class="footer__copy">© 2026 Galaxy Billiards Club. All rights reserved.</p>
  </footer>
